## 문자열
### 인덱스, 슬라이싱

In [1]:
# PDF Page 2-40..슬라이싱 해서 문자열 추출하기

strdata = '20180522Rainy'
data = strdata[0:8]
print(data)
weather = strdata[8:]
print(weather)
all = strdata[:]
print(all)

20180522
Rainy
20180522Rainy

In [2]:
# split() 함수와 join() 함수의 사용방법
# split() 를 통해서 쪼개어진 문자열들은 리스트 형태로 반환 
# join()은 특정한 구분자로 나눠져있는 리스트자료형을 하나의 문자열로 만들어서 반환

movies = '기생충, 1987, 킹덤, 스타워즈, 쥬라기공원'
movieL = movies.split(',')
print(movieL) #[]

movie = ','
movie = movie.join(movieL)
print(movie)

['기생충', ' 1987', ' 킹덤', ' 스타워즈', ' 쥬라기공원']
기생충, 1987, 킹덤, 스타워즈, 쥬라기공원


### 리스트 생성, 수정, 삭제, 추가

In [3]:
#1. 리스트 생성
myList = [2, 5, 3, 10, 4]
myList1 = []
myList2 = list()

len(myList1)
len(myList2)
len(myList)

myList1.extend(myList) # 확장됨.
myList1

[2, 5, 3, 10, 4]

In [4]:
#2. 수정
myList
myList[3] = -10
myList

[2, 5, 3, -10, 4]

In [5]:
#3. 추가....append(), insert()
# myList.append(100) #맨 뒷부분에 추가됨
# myList

# 가장 마지막에 888을 추가 (-1 사용 X)
myList.insert(len(myList), 888)
myList

[2, 5, 3, -10, 4, 888]

In [6]:
# 4. 삭제하기
'''
del : 인덱스로 삭제
remove : 삭제할 값을 직접 입력
pop : 맨마지막 값을 삭제한 후 그 값을 리턴함
'''

'\ndel : 인덱스로 삭제\nremove : 삭제할 값을 직접 입력\npop : 맨마지막 값을 삭제한 후 그 값을 리턴함\n'

In [7]:
myList

[2, 5, 3, -10, 4, 888]

In [8]:
del myList[3]
myList

[2, 5, 3, 4, 888]

In [9]:
# del myList[4:7]
# myList

In [10]:
myList.remove(4)
myList

[2, 5, 3, 888]

In [11]:
myList.pop()

888

### 리스트에서 값 추출하기

In [12]:
myList
yourList = [10, 20, 30]
myList[1] = yourList
myList

[2, [10, 20, 30], 3]

In [13]:
myList = [1, 2, 3, 4, 5, 6, 7, 8]
# 슬라이싱을 써서 직접 작성...
# 1. 2,3
print(myList[1:3])

# 2. 1,2,3
print(myList[0:3])
print(myList[:3])

# 3. 5,6,7,8
print(myList[4:9])
print(myList[4:])

# 4. 6,7,8
print(myList[-3:])

myList.sort(reverse=True)
myList

[2, 3]
[1, 2, 3]
[1, 2, 3]
[5, 6, 7, 8]
[5, 6, 7, 8]
[6, 7, 8]

[8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
'''
매직명령어
% 로 시작한다.
%whos : 지금까지 사용한 객체변수명과 그에 해당하는 간단한 정보를 확인
%who : 지금까지 사용한 객체변수 의 리스트만 보여줌
'''
# %whos
%who

all	 data	 movie	 movieL	 movies	 myList	 myList1	 myList2	 strdata
weather	 yourList

In [15]:
'''
동일한 이름의 변수 선언시 메모리에서 찾는 순서
1) 로컬변수 로컬영역에 저장  ----- 여기를 가장 먼저 찾는다.
2) 전역변수는 전역영역에 저장  --- 여기를 2번째로 찾는다.
3) 내장변수는 내장영역에 저장  --- 여기를 가장 마지막으로 찾는다.
--> 함수명과 객체변수명을 동일한 이름으로 사용하지 말아라
--> restart를 해줘서 이전 메모리것들을 지우고 다시 올리자.

'''

'\n동일한 이름의 변수 선언시 메모리에서 찾는 순서\n1) 로컬변수 로컬영역에 저장  ----- 여기를 가장 먼저 찾는다.\n2) 전역변수는 전역영역에 저장  --- 여기를 2번째로 찾는다.\n3) 내장변수는 내장영역에 저장  --- 여기를 가장 마지막으로 찾는다.\n--> 함수명과 객체변수명을 동일한 이름으로 사용하지 말아라\n--> restart를 해줘서 이전 메모리것들을 지우고 다시 올리자.\n\n'

In [17]:
aaL = list('abcd')
print(aaL)

# list = [3, 4, 5]
# print(list)

# listData = [3, 4, 5]
# print(listData)

['a', 'b', 'c', 'd']

### 문제2

In [33]:
# (2-52) [1, 3, 5, 4, 2] 라는 리스트를 슬라이싱을 이용하여 [2, 4, 5, 3, 1]로 출력해 보자 (reverse 함수 사용하지 말고)

a = [1, 3, 5, 4, 2]
a[::-1]

[2, 4, 5, 3, 1]

### 문제3

In [30]:
# (2-52) ['Python', 'is', 'too', 'interesting'] 라는 리스트를 Python is too interesting 이라는 문자열로 만들어 출력해 보자

b = ['Python', 'is', 'too', 'interesting']
bstr = ' '.join(b)
print('\033[1m' + bstr)

Python is too interesting